#title {
  font-family: cursive;
  font-size: 50px;
  color: black;
  text-shadow: 3px 0 rgb(220, 200, 20);
  display: flex;
  justify-content: center;
}

.drum {
  outline: none;
  border: 10px solid rgb(221, 35, 21);
  font-size: 5rem;
  font-family: cursive;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #bbc713;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: black;
}

.set {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.w {
  background-image: url("/Images/tom1.png");
}

.a {
  background-image: url("/Images/tom2.png");
}

.s {
  background-image: url("/Images/tom3.png");
}

.d {
  background-image: url("/Images/tom4.png");
}

.j {
  background-image: url("/Images/snare.png");
}

.k {
  background-image: url("/Images/crash.png");
}

.l {
  background-image: url("/Images/kick.png");
}

.all {
  margin: 10% auto;
}

.animation {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 white;
  opacity: 0.6;
}
